html {
  overflow-y:scroll;
}

body {
  padding-top:50px;
}

.jumbotron {
  margin-top: 25px;
}

.panel {
  margin-top: 25px;
}

.fa-spinner {
  font-size: 80px;
}

.centered {
  text-align: center;
  margin: 0, auto;
}
