<div id="league-players" class="panel panel-default table-responsive">
  <div class="panel-heading">Players
  </div>
  <form class="table-form">
    <div class="form-group table-form">
      <!-- <div class="input-group"> -->
        <!-- <div class="input-group-addon"><i class="fa fa-search"></i></div> -->
        <input type="text" class="form-control" placeholder="Filter" ng-model="$ctrl.searchInput">
      <!-- </div> -->
    </div>
  </form>
  <table class="table table-sm table-striped table-hover table-condensed">
    <thead class="thead-inverse">
      <tr>
        <th>Draft</th>
        <th>Rank</th>
        <th>Name</th>
        <th>Team</th>
        <th>Positions</th>
        <th>AB/IP</th>
        <th>R/K</th>
        <th>HR/W</th>
        <th>RBI/ERA</th>
        <th>SB/WHIP</th>
        <th>AVG/SV</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-hide="$ctrl.league && $ctrl.league.players.length > 0" class="ng-hide"><td class="centered" colspan="11"><i class="fa fa-spinner fa-spin centered"></i></td></tr>
      <tr ng-repeat="player in $ctrl.league.players | filter:$ctrl.searchInput">
        <td><button type="submit" class="btn btn-primary btn-sm" ng-click="$ctrl.showDraftModal(player)" data-toggle="modal" data-target="#myModal">Draft</button></td>
        <td>{{ player._player.rank == 9007199254740991 ? "Unranked" : player._player.rank }}</td>
        <td>{{ player._player.name }}</td>
        <td>{{ player._player.team }}</td>
        <td>{{ player._player.pos }}</td>
        <td>{{ player._player.hittingProjections ? player._player.hittingProjections.atBats : player._player.pitchingProjections.innings }}</td>
        <td>{{ player._player.hittingProjections ? player._player.hittingProjections.runs : player._player.pitchingProjections.strikeouts }}</td>
        <td>{{ player._player.hittingProjections ? player._player.hittingProjections.homeRuns : player._player.pitchingProjections.wins }}</td>
        <td>{{ player._player.hittingProjections ? player._player.hittingProjections.rbi : player._player.pitchingProjections.era }}</td>
        <td>{{ player._player.hittingProjections ? player._player.hittingProjections.steals : player._player.pitchingProjections.whip }}</td>
        <td>{{ player._player.hittingProjections ? player._player.hittingProjections.average : player._player.pitchingProjections.saves }}</td>
      </tr>
    </tbody>
  </table>
</div>

<!-- Draft Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel2">Draft {{$ctrl.draftPlayer._player.name}}</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal">
          <div class="form-group">
            <label class="input-label col-md-2 col-md-offset-1">Team</label>
            <div class="input-group col-md-8">
              <!-- <select name="teamSelect" id="teamSelect"
                ng-options="team.name for team in $ctrl.league.teams track by team._id"
                ng-model="$ctrl.draftTeam"></select> -->
              <select class="form-control" name="Team">
                <!-- <option ng-repeat="team in $ctrl.league.teams" ng-value="team">{{ team.name }}</option> -->
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="input-label col-md-2 col-md-offset-1">Salary</label>
            <div class="input-group col-md-8">
              <span class="input-group-addon">$</span>
              <input type="number" class="form-control" ng-model="$ctrl.draftCost"></input>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary">Draft</button>
      </div>
    </div>
  </div>
</div>
