<div id="league-players" class="panel panel-default table-responsive">
  <div class="panel-heading">Players
  </div>
  <form class="table-form">
    <div class="form-group table-form">
      <!-- <div class="input-group"> -->
        <!-- <div class="input-group-addon"><i class="fa fa-search"></i></div> -->
        <input type="text" class="form-control" placeholder="Filter" ng-model="$ctrl.searchInput">
      <!-- </div> -->
    </div>
  </form>
  <table class="table table-sm table-striped table-hover table-condensed">
    <thead class="thead-inverse">
      <tr>
        <th>Draft</th>
        <th>Rank</th>
        <th>Name</th>
        <th>Team</th>
        <th>Positions</th>
        <th>AB/IP</th>
        <th>R/K</th>
        <th>HR/W</th>
        <th>RBI/ERA</th>
        <th>SB/WHIP</th>
        <th>AVG/SV</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-hide="$ctrl.players.length > 0" class="ng-hide"><td class="centered" colspan="11"><i class="fa fa-spinner fa-spin centered"></i></td></tr>
      <tr ng-repeat="player in $ctrl.players | filter:$ctrl.searchInput">
        <td><button type="submit" class="btn btn-primary btn-sm" ng-click="$ctrl.showDraftModal(player)">Draft</button></td>
        <td>{{ player._player.rank == 9007199254740991 ? "Unranked" : player._player.rank }}</td>
        <td>{{ player._player.name }}</td>
        <td>{{ player._player.team }}</td>
        <td>{{ player._player.pos }}</td>
        <td>{{ player._player.hittingProjections ? player._player.hittingProjections.atBats : player._player.pitchingProjections.innings }}</td>
        <td>{{ player._player.hittingProjections ? player._player.hittingProjections.runs : player._player.pitchingProjections.strikeouts }}</td>
        <td>{{ player._player.hittingProjections ? player._player.hittingProjections.homeRuns : player._player.pitchingProjections.wins }}</td>
        <td>{{ player._player.hittingProjections ? player._player.hittingProjections.rbi : player._player.pitchingProjections.era }}</td>
        <td>{{ player._player.hittingProjections ? player._player.hittingProjections.steals : player._player.pitchingProjections.whip }}</td>
        <td>{{ player._player.hittingProjections ? player._player.hittingProjections.average : player._player.pitchingProjections.saves }}</td>
      </tr>
    </tbody>
  </table>
</div>
